[submodule "python-cuda12/ComfyUI"]
	path = python-cuda12/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI
[submodule "python-cuda12/custom_nodes/comfyui-workspace-manager"]
	path = python-cuda12/custom_nodes/comfyui-workspace-manager
	url = https://github.com/11cafe/comfyui-workspace-manager
[submodule "python-cuda12/custom_nodes/ComfyUI-Manager"]
	path = python-cuda12/custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "python-cuda12/custom_nodes/ComfyUI_essentials"]
	path = python-cuda12/custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
[submodule "python-cuda12/custom_nodes/ComfyUI_Noise"]
	path = python-cuda12/custom_nodes/ComfyUI_Noise
	url = https://github.com/BlenderNeko/ComfyUI_Noise
[submodule "python-cuda12/custom_nodes/comfyui_controlnet_aux"]
	path = python-cuda12/custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "python-cuda12/custom_nodes/ComfyUI_IPAdapter_plus"]
	path = python-cuda12/custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
[submodule "python-cuda12/custom_nodes/LCM_Inpaint_Outpaint_Comfy"]
	path = python-cuda12/custom_nodes/LCM_Inpaint_Outpaint_Comfy
	url = https://github.com/taabata/LCM_Inpaint_Outpaint_Comfy.git
